***Ark Rules***
Ark Rules are the same as on the Official Servers (*Click here for further Information: https://survivetheark.com/index.php?/code-of-conduct/ *) + our own Rules as seen below. 

***General:***
1. Rules can and will be updated from time to time. It is on you to be updated.
2. There is no discussion about the Rules.
3. The Admin will decide how to punish a rule violation.
4. Forbidden Player Names: 123, Human, Mensch, Admin, Humano and every Type of language specific default name.
5. The Admin does not have time to take care of Game Bugs which leads to loss of Dinos, Items or other things in the Game. This Game is Early Access. 

***Building:***
1. No Building in Artifact Caves or Blocking Notes/Dossiers or similar which prevents Players from achieving Story Content. Violating this Rule will lead to Foundation, Tribe and Charakter Wipe!
2. Basespots which are not accessible by kneeling or crouching are forbidden.

***Raiding:***
1. No Offline Raiding - You can´t damage Offline Tribes 30 minutes after they have logged off.
2. Pop-Corning while Raid will lead to ban.
3. Abusing the ORP while getting Raided will lead to ban.
4. If you have a good reason to leave before or while getting raided you need to tell the Raiders and make an appointment which the raiding Tribe accepts for the Raid to happen as soon as possible.

***Chat:***
1. No Spamming in Chat
2. No Racism, Sexism or other kind of descrimination.
3. No Cursing in Global Chat.
